@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush&display=swap');

@font-face {
    font-family: "Hucklebuck JF Regular";
    src: url("../../fonts/Hucklebuck-JF-Regular.ttf") ;
}

@font-face {
    font-family: "DIN Pro Bold";
    src: url("../../fonts/DINPro-Bold.ttf") ;
}

/**CHARTE NOLEAM **/

:root {
    --name-bleu-noleam: "Blue";
    --bleu-noleam: #1072B3;
    --name-orange-noleam: "Orange";
    --orange-noleam: #FF4B45;
    --name-vert-noleam: "Green";
    --vert-noleam: #9AB345;
    --name-jaune-noleam: "Yellow";
    --jaune-noleam: #CCA640;
    --name-bleu-clair-noleam: "Bleu";
    --bleu-clair-noleam: #61BFFF;
    --name-blanc: "White";
    --blanc: #fff;
    --name-noir: "Black";
    --noir: #000;
    --name-couleur-texte: "Text";
    --couleur-texte: #1072B3;
    --name-blanc-transparent: "White 40%";
    --blanc-transparent: rgba(244, 244, 244, 0.4);

    --brush: 'Hucklebuck JF Regular';
    --texte-principal: 'Frank Ruhl Libre';
    --texte-titre: 'DIN Pro Bold';


    /*
     * Dimensions et couleurs fonctionnelles
     */
    --largeur-max: 1140px;

    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;

    --error: #dc3545;
    --warning: var(--jaune-noleam);
    --success: #28a745;
}

/** some mobile specifics CSS **/
html,
body {
    width: 100%;
    overflow-x: hidden;
}

@media screen and (max-width: 600px) {
    #wpadminbar {
        position: fixed !important; /* fix right margin on mobile */
    }
}


/** BOOTSTRAP **/

.bg-primary {
    background-color: var(--bleu-noleam) !important;
}

/** Surcharge des blocks */
.dot-hr {
    border-top: 10px dotted;
    width: 100%;
    background-color: transparent !important;
}

.width-50 {
    width: 50%;
}

.alignwide {
    margin-left: -80px;
    margin-right: -80px;
}

.alignfull {
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
}

.wp-block {
    max-width: 1200px !important;
    /*color: var(--);*/
}

.wp-block[data-align="full"] {
    max-width: none !important;
    min-width: 100vw !important;
}

.wp-block[data-align="wide"] {
    max-width: 1200px !important;
}

/** Button **/

.wp-block-button__link {
    font-family: Poppins;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none !important;
}

.wp-block-button__link:hover {
    background: var(--orange-noleam) !important;
    color: white !important;
    text-decoration: none;
}

/***************************************************/
/*  form                                           */
/***************************************************/

.made-by-noleam input[type="text"], .made-by-noleam input[type="password"], .made-by-noleam input[type="date"], .made-by-noleam input[type="datetime"], .made-by-noleam input[type="email"], .made-by-noleam input[type="number"], .made-by-noleam input[type="search"], .made-by-noleam input[type="tel"], .made-by-noleam input[type="time"], .made-by-noleam input[type="url"], .made-by-noleam textarea {
    font-size: 20px;
    border: none;
    border-left: 1rem solid transparent;
}

.made-by-noleam input[type="text"], .made-by-noleam input[type="password"], .made-by-noleam input[type="date"], .made-by-noleam input[type="datetime"], .made-by-noleam input[type="email"], .made-by-noleam input[type="number"], .made-by-noleam input[type="search"], .made-by-noleam input[type="tel"], .made-by-noleam input[type="time"], .made-by-noleam input[type="url"], textarea {
    background-color: var(--blanc-transparent);
    color: var(--blanc);
    padding: 0.5rem 1rem 0.7rem;
    width: 100%;
    display: block;
    font-size: 1.3rem;
    height: 3.2rem;
    line-height: 1.2;
    margin: 0 0 13px;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
}

.made-by-noleam input[type="text"]:hover, .made-by-noleam input[type="password"]:hover, .made-by-noleam input[type="date"]:hover, .made-by-noleam input[type="datetime"]:hover, .made-by-noleam input[type="email"]:hover, .made-by-noleam input[type="number"]:hover, .made-by-noleam input[type="search"]:hover, .made-by-noleam input[type="tel"]:hover, .made-by-noleam input[type="time"]:hover, .made-by-noleam input[type="url"]:hover, .made-by-noleam textarea:hover {
    border-left-color: var(--blanc);
}

.made-by-noleam textarea {
    height: 15rem;
}

.made-by-noleam label {
    color: var(--blanc);
}

/** TEXTE */

.editor-styles-wrapper .block-editor-block-list__block,
.made-by-noleam p {
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.made-by-noleam,
.editor-styles-wrapper {
    font-family: var(--texte-principal), sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
    font-weight: 500;
    color: var(--couleur-texte);
}

.editor-styles-wrapper h1,
.editor-post-title__input,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.made-by-noleam h1,
.made-by-noleam h2,
.made-by-noleam h3,
.made-by-noleam h4,
.made-by-noleam h5,
.made-by-noleam h6 {
    font-family: var(--texte-titre), sans-serif;
    color: var(--bleu-clair-noleam);
    font-weight: 700;
    letter-spacing: 0;

}

.made-by-noleam h2,
.editor-styles-wrapper h2 {
    font-size: 2.5rem;
}

.made-by-noleam h5,
.editor-styles-wrapper h5,
.made-by-noleam h6,
.editor-styles-wrapper h6 {
    color: var(--orange-noleam);
    font-weight: normal;
}

.made-by-noleam h6,
.editor-styles-wrapper h6 {
    font-size: 2rem;
}

p strong {
    color: var(--bleu-clair-noleam)
}

.wrapper {
    padding: 0;

}

.brush {
    font-family: var(--brush) !important;
    font-weight: normal !important;
    transform: skewY(-5deg);
}

h2.brush {
    font-size: 3rem;
}

.brush.retrait-1 {
    margin-top: -1rem;
}

.brush.retrait-15 {
    margin-top: -1.5rem;
}

.brush.retrait-2 {
    margin-top: -2rem;
}

/** Zone contact */

.contacts a {
    color: white !important;
}

.contact-form button {
    border: 2px solid white;
    background: transparent;
    float: right;
    text-transform: uppercase;

}

.contact-form button:hover {
    background-color: white !important;
    color: var(--orange-noleam) !important;

}

/** GETWID */

@media screen and (max-width: 691px) {
    /** mettre une classe welcome sur le header de l'accueil */
    .welcome .wp-block-getwid-section__background-holder .wp-block-getwid-section__background {
        background-position: right center !important;
    }
}

.wp-block-getwid-icon-box .wp-block-getwid-icon-box__icon-container i {
    width: auto !important;
}

/** COBLOCKS */


/** MENUS */
.wrapper {
    margin-top: -85px;
}

#wrapper-navbar {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 75px;
    background: transparent;
}

#wrapper-navbar.is-fixed {
    position: fixed;
    animation-name: stickySlideDown;
    padding: 0;
    transition: none;
    width: 100%;
    height: 75px;
    margin-top: 0;
    background-color: var(--bleu-noleam);
}

#wrapper-navbar.is-fixed + .wrapper {
    margin-top: 0;
}

#wrapper-navbar.is-fixed .navbar {
    background-color: var(--bleu-noleam);
}

#wrapper-navbar .custom-logo-link {
    height: 100px !important;
}

#wrapper-navbar .custom-logo-link img {
    height: 70px !important;
    width: auto !important;
}

.home #wrapper-navbar .custom-logo-link img {
    display: none;
}

#wrapper-navbar.is-fixed .custom-logo-link {
    height: 50px !important;
}

#wrapper-navbar.is-fixed .custom-logo-link img {
    height: 50px !important;
    display: block;
}

@keyframes stickySlideDown {
    0% {
        opacity: 0.1;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar-nav .nav-link {
    /* width: 8rem;*/
    font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
    font-family: var(--texte-titre);
    color: rgba(255, 255, 255, 1);
    font-weight: normal;
    margin-left: 0.5rem;
}

navbar-dark .navbar-nav .nav-link i {
    margin-right: 0.5rem;
}

#navbarNavDropdown {
    background: var(--bleu-noleam)
}

@media screen and (min-width: 691px) {
    #navbarNavDropdown {
        background: transparent;
    }
}

/** code **/

code.hljs {
    font-size: 1rem;
    padding: 1rem 2rem;
}