/** GUTENBERG **/


.wp-block {
    max-width: 1170px !important;
}

/*.wp-block-getwid-section,.wp-block-getwid-section__wrapper, .wp-block-getwid-section__inner-wrapper {*/
/*    mi-width: 1170px !important;*/
/*}*/

.wp-block[data-align="full"] {
    max-width: none !important;
}

.wp-block[data-align="wide"] {
    max-width: var(--largeur-max) !important;
}

.editor-styles-wrapper p {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.2rem;
    line-height: 1.1;
    color: var(--couleur-texte);
}

.editor-styles-wrapper {
    color: var(--couleur-texte);
}

.editor-post-title__block .editor-post-title__input, .editor-styles-wrapper h2, .editor-styles-wrapper h3, .editor-styles-wrapper h4 {
    font-family: var(--texte-titre), sans-serif;
    color: var(--bleu-noleam) !important;
    font-weight: 700 !important;
    letter-spacing: 0 !important;
}

.editor-styles-wrapper h5{
}

.editor-styles-wrapper h5, .editor-styles-wrapper h6 {
    color: var(--orange-noleam) !important;
    font-weight: 400 !important;
    font-size: 2rem !important;
}


.editor-styles-wrapper p {
    font-family: var(--texte-principal), sans-serif;
    font-size: 1.2rem;
    line-height: 1.1;
    color: var(--couleur-texte);
}

.editor-styles-wrapper p strong{
    color: var(--bleu-clair-noleam);
}

.editor-styles-wrapper b, .editor-styles-wrapper strong {
    color: var(--couleur-texte);
}

.editor-styles-wrapper ol,
.editor-styles-wrapper p,
.editor-styles-wrapper ul {
    margin-bottom: 10px;
}

.editor-styles-wrapper ol,
.editor-styles-wrapper ul {
    padding: inherit;
}

.editor-styles-wrapper ol li,
.editor-styles-wrapper ol ol,
.editor-styles-wrapper ol ul,
.editor-styles-wrapper ul li,
.editor-styles-wrapper ul ol,
.editor-styles-wrapper ul ul {
    margin-bottom: 0;
}

.editor-styles-wrapper ul {
    list-style-type: disc;
}

.editor-styles-wrapper ol {
    list-style-type: decimal;
}

.editor-styles-wrapper ol ul,
.editor-styles-wrapper ul ul {
    list-style-type: circle;
}

.brush {
    font-family: var(--brush);;
    transform: skewY(-5deg);
    font-weight: normal;
}

h2.brush {
    font-size: 3rem;
}


.brush.retrait-1 {
    margin-top: -1rem;
}

.brush.retrait-15 {
    margin-top: -1.5rem;
}

.brush.retrait-2 {
    margin-top: -2rem;
}

/** Zone contact */

.contacts a {
    color: white !important;
}

.contact-form button {
    border: 2px solid white;
    background: transparent;
    float: right;
    text-transform: uppercase;

}

.contact-form button:hover {
    background-color: white !important;
    color: var(--orange-noleam) !important;

}